html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#main-image-icon {
    height: 80px;
}

.card {
    width: 350px;
    height: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px lighten(black, 50);
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: scale .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    margin-top: 50px;
    margin-left: 40px;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        // animation: scale 0.1s linear;
        transform: scale(1.1);
        box-shadow: 2px 4px 8px lighten(black, 50);
        // -webkit-transition: scale(1.1);
        // transition-duration: 0.1s;
    }

    // @keyframes scale {
    //     0% { transform: scale(1); }
    //     100% { transform: scale(1.1); }
    // }
}

#card-create-new-board {
    @extend .card;
    background-color: mediumaquamarine;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 3px black;

    &.active {
        height: 350px;
        text-align: left;
        // padding-left: 20px;
        padding: 0;
        flex-direction: column;

        hr {
            width: 100%;
            left: 0;
            height: 0;
            // margin-bottom: -0.5em;
            border: 0;
            border-top: 1px solid white;
        }

        h5 {
            font-size: 14px;
            font-weight: lighter;
        }
    }
}

#boards {
    // height: 100%;
    width: 100%;
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    // grid-template-rows: auto;
    grid-row-gap: 10px;
}

input {
    border: none;
    border-radius: 5px;
    width: 225px;
    height: 50px;
    box-shadow: 1px 3px 5px lighten(black, 30);
    padding: 0 10px;
    font-size: 15px;
}

#option-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100px;
    height: 40px;
    font-size: 12px;
    background-color: transparent;
    border: none;
    margin: 40px 0 0 0;
    padding: 0;
    transition-duration: 0.3s;

    &:hover {
        color: turquoise;
    }
}

#btn-cancel {
    @extend .btn;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 3px black;
}

#btn-create  {
    @extend .btn;
    background-color: white;
    box-shadow: 0 3px 3px lighten(black, 50);
    color: black;

    &:hover {
        background-color: lightgrey;
        color: blue;
    }
}

.card-header {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.close-icon {
    width: 18px;
    height: 18px;
    transform: scale(1) rotate(0);
    transition: all 0.1s ease-in-out;
    transition-delay: 0.1s;

    &:hover {
        transform: scale(1.25) rotate(10deg);
        transition-delay: 0s;
    }
}

#list-title {
    background-color: mediumaquamarine;
    color: white;
    border-radius: 0;
    text-shadow: 0px 0px 3px black;
    // box-shadow: 0px 2px 5px black;
    width: 220px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-left: 45px;
    cursor: default;

    &:hover {
        transform: none;
        box-shadow: 0 2px 5px lighten(black, 50);
    }
}

#card-create-list {
    background-color: navy;
    color: white;
    width: 170px;
    height: 130px;
    text-shadow: none;
    font-size: 18px;
}

#new-list-input-div {
    @extend .btn;
    position: relative;
    // border: 1px solid red;
    width: 320px;
    height: 120px;
    margin-left: 40px;
    box-shadow: 0px 4px 20px lighten(black, 50);
    text-align: center;

    input {
        position: relative;
        left: -20px;
        top: 20px;
    }

    h7 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: -15px;
    }

    &:hover {
        color: black;
    }
}

#new-list-close-icon {
    @extend .close-icon;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
}

// #lists {
//     width: 100%;
//     display: block;
//     display: grid;
//     grid-template-columns: repeat(3, 400px);
//     // grid-template-rows: auto;
//     grid-row-gap: 10px;
// }